.item-container {
    width: 32%;
}

.card .card-content .card-title {
    line-height: 1.5;
}

.card .card-title {
    margin: 10px 0;
    font-size: 1em;
    font-weight: 400;
}

.card .card-content {
    padding: 0 10px 10px 10px;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    .item-container {
        width: 49%;
    }
}