.price {
    font-size: 1.28em;
    color: #7c7c7c;
}

.info-container {
    position: relative;
}

.buy-btn-container {
    position: absolute;
    top: 16%;
    left: calc(50% - 75px);
}

.buy-btn {
    border: 2px solid #105180;;
    padding: 7px 30px;
    font-size: 1em;
    border-radius: 18px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 500ms ease;
}

.buy-btn:hover {
    color: #f5f6f8;
    background-color: #105180;
}

button:hover {
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}

.shop-item-hide {
    opacity: 0;
    transition: opacity 200ms;
}

.buy-btn-mobile {
    display: none;
}

@media screen and (max-width: 767px) {
    .item-container {
        width: 49%;
    }

    .buy-btn-container {
        display: none;
    }

    .buy-btn-mobile-container {
        display: flex;
        justify-content: space-between;
    }

    .shop-item-hide {
        opacity: 1;
    }

    .buy-btn-mobile {
        display: block;
    }

    .material-icons.buy-btn-mobile {
        font-size: 25px;
        cursor: pointer;
        color: #105180;
    }
}