.category-arrow {
    position: relative;
    top: 9px;
}

.collection a.collection-item {
    padding: 0 10px 0 0;
    border: none;
    color: black;
    background-color: #f5f6f8;
}

.collection {
    border: none;
    background-color: #f5f6f8;
}